/*CREATED BY BLAKE COLLINS*/
* {
  box-sizing: border-box;
}
html{
  text-align: center;
  scroll-behavior: smooth;
}
/* BODY STYLE*/
body{
  margin: 0;
  padding: 1em;
}
span{
  text-align: center;
}
/*SEARCH BAR STYLE*/
input{
  margin: 0 auto;
  display: block;
  width: 50%;
  margin: 0 auto 2em;
  border: 2px solid rgb(4, 187, 187);
  border-radius: 15px;
  color: #2F4F4F;
  outline: none;
  font-size: 1.75em;
}
input:focus {
  border: 2px solid lightgoldenrodyellow;
}
/*IMAGE STYLE*/
img{
  border: solid 2px rgb(4, 187, 187);
  padding: 3px;
  margin: 1.25em;
}
img:hover {
  box-shadow: inset 0 0 0 15px darkgray;
}
/* THUMBNAIL STYLE*/
.photoGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*Footer Styling-------------------------------------------------------*/
.footer{
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
/*Contact Page Stying*/
.contactInformation{
text-align: center;
}
/* Side Scroll Bar-------------------------------------------------------------------------*/
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: grey;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(4, 187, 187);
    background-image: -webkit-linear-gradient(90deg,transparent rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}
